name: ci

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Run fmt
        run: deno fmt --check
      - name: Run lint
        run: deno lint
      - name: Run test
        run: deno test
