name: Playwright Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Install dependencies Prepare
        run: |
          cd e2e
          yarn install
          yarn playwright install --with-deps

      - name: run server
        run: |
          deno run dev &
          sleep 20
      - name: Run Playwright tests
        run: |
          cd e2e
          yarn playwright test
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: e2e/playwright-report/
          retention-days: 30
